<!Doctype html>
<html lang="en" xmln:th="http://www.thymeleaf.org">
	<style>
		.bg1{
		background-color:cyan;
		}
		.bg2{
		background-color:yellow;
		}
	</style>	
	
	<head>
		<title>Bootstrap Container</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<style>
		
		
	</style>	
	</head>
		
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<ul class="navbar-brand">Monument Site</ul>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
					<li><a href="http://localhost:8080/monuments_list">Monuments</a></li>
					<li><a href="http://localhost:8080/loginpage">Book Tickets</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><img th:src="@{/img/comit.png}"></li>
					
				</ul>
			</div>
		</nav>	
		<div class="container">
			<h3>Welcome to Admin Page</h3>
			<br><br><br>
			<div class="row">
				<div class="col-lg-6 "><a href="http://localhost:8080/adminpage1"><img th:src="@{/img/users.png}"></a></div>
				<div class="col-lg-6 "><a href="http://localhost:8080/adminpage2"><img th:src="@{/img/booking.png}"></a></div>
			</div>
		</div>
	</body>
</html>