<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<ul class="navbar-brand">Monument Site</ul>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="http://localhost:8080/#"><span class="glyphicon glyphicon-home"></span></a></li>
					<li><a href="http://localhost:8080/monuments_list">Monuments</a></li>
					<li><a href="#">Book Tickets</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><img th:src="@{/img/comit.png}"></li>
					
				</ul>
			</div>
		</nav>	
	
<div class="container">
  <h4>Book Ticket</h4>

  <form role="form" th:action="@{/booking}" th:object="${bookings}" method="post">
  
	<!-- Input Fields -->
    <div class="form-group">
      <label for="visitDate">Date Of Visit:</label>
      <input type="date" class="form-control"  th:field="*{visitDate}" required>
    </div>
    <div class="form-group">
	  <label for="ticketPrice">Monuments List:</label>
		  <select class="form-control" th:field="*{ticketPrice}" required>
			<option value="" selected>Select</option>
			<option value="100">Taj Mahal</option>
			<option value="80">Agra Fort</option>
			<option value="70">Fatehpur Sikhri</option>
			<option value="60">Itimad-ud-daula</option>
			<option value="50">Tomb Of Akbar</option>
		  </select>
	</div>
	 <div>
	  <label for="numberTickets">Number Of Tickets:</label>
      <input type="text" class="form-control" th:field="*{numberTickets}" required>
	 </div>
    <br>
    <div>
   	  <label for="totalPrice">Total Price</label>
      <input type="text" class="form-control" th:field="*{totalPrice}" readonly>
     </div>
    <br>
      <button type="submit" class="btn btn-primary">
		  Calculate Total Price</button> 
	<br>	
	<div class="text-center">
		<p><a href="http://localhost:8080/payment">Proceed To Pay</a></p>
	</div>
	   
  </form>
  
</div>

</body>
</html>
