<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<ul class="navbar-brand">Monument Site</ul>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="http://localhost:8080/#"><span class="glyphicon glyphicon-home"></span></a></li>
					<li><a href="http://localhost:8080/monuments_list">Monuments</a></li>
					<li><a href="#">Book Tickets</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><img th:src="@{/img/comit.png}"></li>
					
				</ul>
			</div>
		</nav>	
	
<div class="container">
  <h4>New User</h4>

  <form role="form" th:action="@{/register}" th:object="${user}" method="post">
  
	<!-- Input Fields -->
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control"  th:field="*{firstName}" required>
    
	  <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" th:field="*{lastName}" required>
      
      <label for="email">Email</label>
      <input type="email" class="form-control" th:field="*{email}" required>
    
   	  <label for="password">Password</label>
      <input type="password" class="form-control" th:field="*{password}" required>
    
   	  
   	  <label for="contactNumber">Contact Number</label>
      <input type="text" class="form-control" th:field="*{contactNumber}" required>
      <bt><br>
      <button type="submit" class="btn btn-default">
		  Save</button>	
		</div>
		<p><a href="http://localhost:8080/login">Please Login</a></p>
	    </div>
  </form>
  
</div>

</body>
</html>
